html {
	background-color: #000000;
	}
	
.Frame1 {
	background-color: #800000;
	height: 600px;
	width: 300px;
	border: 15px solid #FF0000;
	float: left;
	margin: 10px;
	}
	
.Frame2 {
	background-color: #A52A2A;
	height: 500px;
	width: 300px;
	border: 10px dashed #FF0000;
	float: left;
	margin: 10px;
	}
	
.Frame3 {
	background-color: #FFA500;
	height: 400px;
	width: 300px;
	border: 10px dotted #FF0000;
	float: left;
	margin: 10px;
	}

.WSO {
	height: 800px;
	width: 800px;
	border 30px solid #FF0000;
	}