html {
	background-color: #000000;
	}
	
.Frame1 {
	background-color: 7FFFD4;
	height: 100px;
	width: 100px;
	}
	
.Frame2 {
	background-color: #98FF98;
	height: 100px;
	width: 100px;
	}
	
.Frame3 {
	background-color: #FFCBA4;
	height: 100px;
	width: 100px;
	}

